.navBar {
  background-image: linear-gradient(
    to bottom right,
    rgb(14, 4, 196),
    rgba(255, 0, 0, 0)
  );
  width: 87.7vw;
  height: 10vh;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 2rem;
  padding: 0 2rem 0 0;

  font-weight: 1000;
}
.navBar h4 {
  color: black;
  font-size: 1.5vw;
}
.navBar .avtar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh;
  font-size: 1.5vw;
  color: white;
  font-weight: 900;
}
.navBar .avtar img {
  width: 3vw;
  display: inline-block;
  padding: 0.2rem 0.2rem 0 0.2rem;
  border: 1px solid black;
  border-radius: 0.2rem;
  box-shadow: 0.2rem 0.2rem 0.2rem rgb(0, 5, 25);
}

.navBar button {
  border: none;
  box-shadow: 2px 2px 2px black;
  font-size: 1.2rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: 800;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: rgb(149, 149, 252);
}

.navBar button:hover {
  background-color: rgb(159, 190, 243);
  letter-spacing: 1px;
}
